body {
    background: url('../img/about.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    position: relative;
}

.column {
    position: fixed;
    z-index: 1;
}

.card {
    width: 100%;
    border: 2px solid gray !important;
    margin-top: 5%;
}

.about-section {
    font-family: 'Black Ops One', sans-serif;
}

.about-section p {
    font-size: 20px;
    color: teal;
    text-decoration: underline;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .about-section {
        text-align: center;
    }

    .card {
        margin: 0 auto;
    }
}
