body {
    background: url('../img/albums.jpg') no-repeat fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    position: relative;
}

.header {
    text-align: center;
    padding: 20px;
    color: tan;
    text-shadow: 0 0 3px #FF0000;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    vertical-align: middle;
    margin: 10px;
    width: 80%;
    border: 2px solid white;
}

figure {
    text-align: center;
}

figcaption {
    width: 100%;
    color: white;
}

figure:hover {
    width: 90%;
    border-bottom: 1px solid white;
}

h1 {
    text-transform: uppercase;
}


/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .column img {
        width: 50%;
    }
}
