body {
    background: url('../img/contact.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    position: absolute;
}

.atsiliepimas {
    width: 40%;
    margin: 1%;
}

.btn-primary {
    padding: 10px;
}

h1 {
    font-family: 'Black Ops One', sans-serif;
}

.zinute {
    width: 300px;
    /*margin: 0 auto;*/
}


/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    h1 {
        text-align: center;
    }

    .atsiliepimas {
        margin: 0 auto;
    }
}
