* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

.turinys {
    margin: 1%;
}

.icons {
    width: 20%;
}

.navbar {
    position: relative;
}

.navbar .nav-link {
    text-transform: uppercase;
    font-family: 'Black Ops One', sans-serif;
    font-size: 30px;
}

#linkas {
    color: white;
}

li {
    list-style-type: none;
}

.home-bg {
    background: url('../img/home.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#linkas:hover {
    color: red;
    transition-timing-function: ease-out;
    transition: 1s;
}

/* ICONS */

.fa {
    padding: 12px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border: 1px solid;
    border-radius: 10px;
}

.fa-facebook:hover {
    text-decoration: none;
    color: darkblue;
}

.fa-youtube:hover {
    text-decoration: none;
    color: red;
}

.fa-twitter:hover {
    text-decoration: none;
    color: aqua;
}

.fa-instagram:hover {
    text-decoration: none;
    color: pink;
}

.footer {
    position: relative;
    margin-top: -50px;
    height: auto;
    clear: both;
    padding-top: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
    display: inline;
}

.footer a:hover {
    color: red;
    text-decoration: underline;
    transition-timing-function: ease-out;
    transition: 1s;
}

