.container {
    margin-top: 5%;
}

.audio {
    width: auto;
    position: relative;
}


h2 {
    text-align: center;
}

.card {
    border: 2px solid gray !important;
}

.card-body {
    background-color: gray;
}

q {
    float: right;
    width: 60%;
    padding: 20px;
    margin-top: 10%;
}

.clearfix {
    clear: both;
}

.bio {
    border: 2px dashed black;
    padding: 20px;
    margin-top: 1%;
}


.bio p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.pac-foto {
    width: 100%;
    margin-top: 1%;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    q {
        width: 100%;
    }


    .bio {
        width: 100%;
    }

    .card {
        margin: 0 auto;
    }
}
