body {
    background: url('../img/bg.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
    position: relative;
    width: 10%;
    margin-top: 1%;
    margin-left: 1%;

}

.login {
    text-align: center;
}

.login .btn {
    border: 1px solid white;
    color: white;
}

.login .btn:hover {
    background-color: teal;
    transition-timing-function: ease-out;
    transition: 0.8s;
}

.login .btn:hover {
    color: white;
}

.btn a {
    color: white;
    text-decoration: none;
}
.antraste {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: tan;
    margin-top: 1%;
    text-shadow: 0 0 3px #FF0000;
}

.video  {
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
}

.citata {
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: white;
    font-weight: 600;
}

.pac {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
}

.pac:hover {
    background-color: darkgray;
    border-radius: 50px;
}

#welcomeBack {
    color: brown;
    text-shadow: 0 0 3px #FF0000;
    font-size: 30px;
}

#prisijunges {
    color: white;
    font-family: 'Black Ops One', sans-serif;
    font-size: 30px;
}

#prisijunges:hover {
    color: tan;
    text-shadow: 0 0 3px #FF0000;
    text-decoration: underline;
}


/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 768px) {

    .logo {
        width: 100%;
        text-align: center;
        padding: 5%;
    }

    .video {
        width: 100%;
    }

    .pac {
        width: 100%;
    }
}
